#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* Prevents the content from being hidden behind the navbar */
  padding-top: 60px; 
}

.navbar {
  /* Divides the bar into 3 fixed zones */
  display: grid;
  /* 3 columns: left zone (1 column), centered logo (automatic), right zone (1 column) */
  grid-template-columns: 1fr auto 1fr;
  /* Centers all elements of the navbar vertically */
  align-items: center;
  /* Prevents elements from being stuck to the edge of the window */
  padding: 0 20px;
  /* Allows you to fix the navbar so that it remains visible while scrolling the page */
  position: fixed;
  /* The bar is glued to the top of the window */
  top: 0;
  /* Starts on the left side of the screen */
  left: 0;
  /* The navbar takes up the entire width of the window */
  width: 100%; 
  /* Prevent other elements from passing over the navbar */
  z-index: 1000;
  background-color: #56739A;
  min-height: 60px;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 15px; 
}

.navbar-left {
  /* Allows you to remove the space between the left buttons and the logo */
   justify-content: right;
}

.navbar-right {
  /* Allows you to remove the space between the right buttons and the logo */
   justify-content: left;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.logo_of_website {
  /* Allows the use of margin auto */
  display: block;
  margin : 0 auto;
  max-width: 120px;
  height: auto;     
}

.read-the-docs {
  color: #888;
}

button {
  background-color: #FFF48D;
}

/* Aligns the cards neatly side by side, and centers them automatically */
.cards-grid {
  display: flex;
  /* If the screen becomes too small, the cards automatically advance to the next line. */
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Visual appearance of a single card */
.card {
  background-color: #FFF48D;
  /* A thin, discreet border to delimit the map */
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  padding: 15px;
  /* The map takes up the entire available width */
  width: 100%; 
  /* Do not exceed 300px */
  max-width: 300px;
  /* Automatically adjusts the size of the “internal content” */
  box-sizing: border-box;
}

/* Top part of the map (title of the post or article) */
.card-header {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Body of the text inside the map */
.card-content {
  font-size: 0.9rem;
  color: #333;
}

.sizetext {
  font-size: 18px;
}

.buttonforregister{
  height: 70px;
  width: 170px;
}

/* Aligns the cards neatly side by side, and centers them automatically */
.cards_profile-grid {
  justify-content: center;
}

/* Visual appearance of a single card */
.card_profile {
  background-color: #FFF48D;
  /* A thin, discreet border to delimit the map */
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  padding: 15px;
  /* The map takes up the entire available width */
  width: 100%; 
  /* Do not exceed 300px */
  max-width: 300px;
  /* Automatically adjusts the size of the “internal content” */
  box-sizing: border-box;
}

/* Aligns the cards neatly side by side, and centers them automatically */
.cards_article-grid {
  display: flex;
  /* If the screen becomes too small, the cards automatically advance to the next line. */
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Visual appearance of a single card */
.card_article {
  background-color: #FFF48D;
  /* A thin, discreet border to delimit the map */
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  padding: 15px;
  /* The map takes up the entire available width */
  width: 100%; 
  /* Do not exceed 300px */
  max-width: 300px;
  /* Automatically adjusts the size of the “internal content” */
  box-sizing: border-box;
}

/* Top part of the map (title of the article) */
.card_article-header {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Body of the text inside the map */
.card_article-content {
  font-size: 0.9rem;
  color: #333;
}

/* Aligns the cards neatly side by side, and centers them automatically */
.cards_community-grid {
  display: flex;
  /* If the screen becomes too small, the cards automatically advance to the next line. */
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

/* Visual appearance of a single card */
.card_community {
  background-color: #FFF48D;
  /* A thin, discreet border to delimit the map */
  border: 1px solid #0c0c0c;
  border-radius: 8px;
  padding: 15px;
  /* The map takes up the entire available width */
  width: 100%; 
  /* Do not exceed 300px */
  max-width: 300px;
  /* Automatically adjusts the size of the “internal content” */
  box-sizing: border-box;
}



