#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* Prevents the content from being hidden behind the navbar */
  padding-top: 60px; 
}

.navbar {
  /* Divides the bar into 3 fixed zones */
  display: grid;
  /* 3 columns: left zone (1 column), centered logo (automatic), right zone (1 column) */
  grid-template-columns: 1fr auto 1fr;
  /* Centers all elements of the navbar vertically */
  align-items: center;
  /* Prevents elements from being stuck to the edge of the window */
  padding: 0 20px;
  /* Allows you to fix the navbar so that it remains visible while scrolling the page */
  position: fixed;
  /* The bar is glued to the top of the window */
  top: 0;
  /* Starts on the left side of the screen */
  left: 0;
  /* The navbar takes up the entire width of the window */
  width: 100%; 
  /* Prevent other elements from passing over the navbar */
  z-index: 1000;
  background-color: #56739A;
  min-height: 60px;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 15px; 
}

.navbar-left {
  /* Allows you to remove the space between the left buttons and the logo */
   justify-content: right;
}

.navbar-right {
  /* Allows you to remove the space between the right buttons and the logo */
   justify-content: left;
}

.navbar-center {
  display: flex;
  justify-content: center;
}

.logo_of_website {
  /* Allows the use of margin auto */
  display: block;
  margin : 0 auto;
  max-width: 120px;
  height: auto;     
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  background-color: #FFF48D;
}
